{% extends 'base.html' %}

{% block head%}
<title>Task Master</title>
{% endblock %}

{% block body%}
<div class="container">
    <h1 class="title">Task Master</h1>

    <div class="task-container">
        {% if tasks %}
            {% for task in tasks %}
                <div class="task-card">
                    <div class="task-content">
                        <div class="task-name">{{ tasks[task]['Task'] }}</div>
                        <div class="task-time">{{ tasks[task]['Time'] }}</div>
                    </div>
                    <div class="task-actions">
                        <a class="btn update" href="/update/{{task}}">Edit</a>
                        <a class="btn delete" href="/delete/{{task}}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="empty-state">
                <p>No tasks yet. Add your first task below!</p>
            </div>
        {% endif %}
    </div>

    <form class="task-form" action="/" method="POST">
        <input class="task-input" type="text" name="content" id="content" placeholder="Enter new task..." required>
        <input class="btn add" type="submit" value="Add Task">
    </form>
</div>
{% endblock %}