{% extends 'base.html' %}

{% block head%}
<title>Badiya Todo</title>
{% endblock %}

{% block body%}
<div class="container">
    <h1 class="title">Task Master</h1>

    <div class="task-container">
        <table class="task-table">
            <tr>
                <th>Task</th>
                <th>Date and Time</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ tasks[task]['Task'] }}</td>
                    <td>{{ tasks[task]['Time'] }}</td>
                    <td>
                        <a class="btn delete" href="/delete/{{task}}">Delete</a>
                        <a class="btn update" href="/update/{{task}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <form class="task-form" action="/" method="POST">
        <input class="task-input" type="text" name="content" id="content" placeholder="Enter new task...">
        <input class="btn add" type="submit" value="Add Task">
    </form>
</div>
{% endblock %}
